@import "../../node_modules/tailwindcss/base.css";
@import "../../node_modules/tailwindcss/components.css";
@import "../../node_modules/tailwindcss/utilities.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    color: #303030;
    background: #ffffff;
    -webkit-tap-highlight-color: transparent;
}
